body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    margin: 40px;
    font-family: 'Tahoma', sans-serif;
}

h3 {
    text-align: left;
    font-family: 'Tahoma', sans-serif;
}

p {
    text-align: left;
    font-size: 15px;
    text-align: justify;
}

body {
    background-color: lightgray;
}

.page {
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.item1 { grid-area: header; }
.item2 { grid-area: vis1; }
.item3 { grid-area: desc1; }
.item4 { grid-area: vis2; }
.item5 { grid-area: desc2; }
.item6 { grid-area: vis3; }
.item7 { grid-area: desc3; }
.item8 { grid-area: desc4; }
.item9 { grid-area: vis4; }
.item10 { grid-area: desc5; }
.item11 { grid-area: vis5; }
.itemLast { grid-area: footer; }

.vega-bind {
    margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header '
    'vis1 vis1 vis1 vis1 vis1 vis1 '
    'desc1 vis2 vis2 vis2 vis2 vis2 '
    'desc2 vis3 vis3 vis3 vis3 vis3 '
    'desc3 desc3 desc3 desc3 desc3 desc3 '
    'desc4 vis4 vis4 vis4 vis4 vis4 '
    'desc5 desc5 desc5 desc5 desc5 desc5 '
    'vis5 vis5 vis5 vis5 vis5 vis5 '
    'footer footer footer footer footer footer ';
  gap: 30px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

#vg-tooltip-element tr:nth-child(1) td:first-child {
    color: #2470d3
}

#vg-tooltip-element tr:nth-child(2) td:first-child {
    color: #ffb43a
}

#vg-tooltip-element tr:nth-child(3) td:first-child {
    color: #c92a2a
}

#vg-tooltip-element tr:nth-child(4) td:first-child {
    color: #1aa5b2
}

#vg-tooltip-element tr:nth-child(5) td:first-child {
    color: #069837
}

#vg-tooltip-element tr:nth-child(6) td:first-child {
    color: #cbbf12
}